* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
    list-style: none;
}

.cabecalho-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: rgb(78, 155, 255);
    height: 80px;
    top: 0;
    position: fixed;
    width: 100%;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.8);
}

.cabecalho-container div h1 {
    color: #fff;
    font-size: 25px;
}

.cabecalho-container ul {
    display: flex;
}

.cabecalho-container ul li a{
    display: flex;
    margin: 10px;   
    color: #fff;
}

/* Media queries */

@media (max-width: 1024px) {
    .cabecalho-container div h1 {
        font-size: 20px;
    }

    .cabecalho-container ul li {
        font-size: 15px;
    }
}