* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
    list-style: none;
}

.bem-vindo-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 400px;
    background-color: rgb(235, 244, 255);
}

.bem-vindo-container .img-bem-vindo img{
    max-width: 300px;
}

.bem-vindo-container .texto-bem-vindo {
    max-width: 600px;
}

.bem-vindo-container .texto-bem-vindo h2 {
    margin-bottom: 10px;
}

.quem-sou-eu-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 400px;
    background-color: rgb(235, 244, 255);
}

.quem-sou-eu-container .texto-quem-sou-eu {
    max-width: 600px;
    text-align: right;
}

.quem-sou-eu-container .texto-quem-sou-eu h3 {
    margin-bottom: 10px;
}

.quem-sou-eu-container .img-quem-sou-eu img {
    max-width: 500px;
}

.cursos-container {
    display: flex;
    background-color: rgb(78, 155, 255);
    align-items: center;
    justify-content: center;
    height: 800px;
    color: white;
}

.contato-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 550px;
    background-color: rgb(235, 244, 255);
}

.contato-container .img-contato img {
    max-width: 450px;
}

.contato-container .texto-contato {
    max-width: 400px;
}

.contato-container .texto-contato p {
    margin: 20px 0 20px 0;
}

.contato-container .texto-contato a {
    background-color: rgb(78, 155, 255);
    border-radius: 30px;
    padding: 5px 15px 5px 15px;
    color: #fff;
}

.contato-container .texto-contato a:hover {
    background-color: white;
    color: rgb(78, 155, 255);
}

/* Media queries */

@media (max-width: 1024px) {
    .bem-vindo-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 0px 25px 50px 25px;
    }

    .bem-vindo-container .img-bem-vindo img {
        max-width: 150px;
    }

    .quem-sou-eu-container {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;     
        padding: 0px 25px 80px 25px;
    }

    .quem-sou-eu-container .texto-quem-sou-eu {
        text-align: center;
    }

    .quem-sou-eu-container .img-quem-sou-eu img {
        max-width: 150px;
    }

    .cursos-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        text-align: center;  
        height: 700px;
        padding: 25px;
    }

    .cursos-container .img-cursos img {
        max-width: 250px;
        margin: 0px;
    }

    .contato-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        text-align: center;  
        height: 500px;
        padding: 25px;
    }

    .contato-container .img-contato img {
        max-width: 250px;
    }

}