<main>
    <div class="bem-vindo-container">
        <div class="img-bem-vindo">
            <img src="./assets/img/bem-vindo.webp">
        </div>
        <div class="texto-bem-vindo">
            <h2>Seja bem-vindo!</h2>
            <p>
                Olá, tudo bem com você? se você está aqui, acredito que está interessado em saber quem eu sou,
                o que eu sei fazer e tudo sobre mim, então fique a vontade para desfrutar desse site que eu mesmo fiz.
            </p>
        </div>
    </div>

    <div class="quem-sou-eu-container">
        <div class="texto-quem-sou-eu">
            <h3>Quem sou eu?</h3>
            <p>
                Me chamo Kauê Dias Lipari, tenho 18 anos, como você já deve ter imaginado, sou um entusiasta
                da tecnologia, estou cursando análise e desenvolvimento de sistemas na Anhembi morumbi, duas das minhas
                paixões são programar e empreender, estou em busca de me desenvolver cada vez mais, sempre aprendendo
                e colocando em prática.
            </p>
        </div>
        <div class="img-quem-sou-eu">
            <img src="./assets/img/quem-sou-eu.webp">
        </div>
    </div>

    <app-tecnologias></app-tecnologias>

    <div class="contato-container">
        <div class="img-contato">
            <img src="./assets/img/contato.webp">
        </div>
        <div class="texto-contato">
            <h3>Quer falar comigo?</h3>
            <p>
                Se quiser falar comigo, ou saber minhas redes sociais,
                é só clicar nesse botão.
            </p>
            <a routerLink="/contato">contato</a>
        </div>
    </div>
</main>

