<div class="pagina-contato-container">
    <div>
        <img src="./assets/img/contato-pagina.webp">
    </div>
    <div class="info-contatos">
        <div class="texto-contatos">
            <h2>Contatos:</h2>
            <h4>Celular: (11) 99450-4190</h4>
            <h4>Email: kauelipari@uol.com.br</h4>
        </div>
        <div class="botao-contatos">
            <ul>
                <li><a href="https://www.linkedin.com/in/kauê-dias-lipari-a76743210/" target="_blank" rel="noopener noreferrer">LinkedIn</a><li>
                <li><a href="https://github.com/Kaue-Dias-Lipari" target="_blank" rel="noopener noreferrer">GitHub</a><li>
            </ul>
        </div>
    </div>
</div>
