<main>
    <div class="container-projetos-reverse">
        <div class="imagem">
            <img src="./assets/img/angular-icon.png">
        </div>
        <div class="descricao-reverse">
            <h2>Meu currículo online</h2>
            <h3>
                Fiz esta página para contar um pouco sobre mim,
                tento colocar todas as coisas que aprendo em prática,
                usei o framework Angular.
            </h3>
            <a href="https://github.com/Kaue-Dias-Lipari/Meu-curriculo-online" target="_blank" rel="noopener noreferrer" class="botao">Me leve ao repositório</a>
        </div>
    </div>
    
    <div class="divisoria">
        .
    </div>

    <div class="container-projetos">
        <div class="imagem">
            <img src="./assets/img/html-icon.png">
        </div>
        <div class="descricao">
            <h2>Recriando instagram</h2>
            <h3>
                Recriei a página de login do instagram,
                utilizando HTML e CSS, explorando muito a
                funcionalidade Flexbox.
            </h3>
            <a href="https://github.com/Kaue-Dias-Lipari/Projeto-HTML-CSS-DIO-Bootcamp-Santander" target="_blank" rel="noopener noreferrer" class="botao">Me leve ao repositório</a>
        </div>
    </div>

    <div class="divisoria">
        .
    </div>

    <div class="container-projetos-reverse">
        <div class="imagem">
            <img src="./assets/img/JS-icon.png">
        </div>
        <div class="descricao-reverse">
            <h2>Conversor de moeda</h2>
            <h3>
                Este é um conversor de moeda simples,
                usei HTML, CSS e JavaScript, o intuito era
                explorar a manipulação do DOM.
            </h3>
            <a href="https://github.com/Kaue-Dias-Lipari/Conversor-de-moeda" target="_blank" rel="noopener noreferrer" class="botao">Me leve ao repositório</a>
        </div>
    </div>

    <div class="divisoria">
        .
    </div>

    <div class="container-projetos">
        <div class="imagem">
            <img src="./assets/img/css-icon.png">
        </div>
        <div class="descricao">
            <h2>Formulário</h2>
            <h3>
                Criei um formulário estático, nunca tinha feito a
                estrutura de um formulário, então tentei explorar e me desafiar,
                utilizei somente HTML e CSS.
            </h3>
            <a href="https://github.com/Kaue-Dias-Lipari/Formulario-basico" target="_blank" rel="noopener noreferrer" class="botao">Me leve ao repositório</a>
        </div>
    </div>
</main>