<div class="container">
    <div class="img-tecnologias">
        <img src="./assets/img/cursos.webp">
    </div>

    <h1>Técnologias que tive contato</h1>

    <div class="tecnologia-container">
        <div class="container-logo">
            <div class="tecnologia-img">
                <img src="./assets/img/html-icon.png">
            </div>
        </div>

        <div class="container-logo">
            <div class="tecnologia-img">
                <img src="./assets/img/css-icon.png">
            </div>
        </div>

        <div class="container-logo">
            <div class="tecnologia-img">
                <img src="./assets/img/angular-icon.png">
            </div>
        </div>

        <div class="container-logo">
            <div class="tecnologia-img">
                <img src="./assets/img/java-icon.png">
            </div>
        </div>

        <div class="container-logo">
            <div class="tecnologia-img">
                <img src="./assets/img/JS-icon.png">
            </div>
        </div>

        <div class="container-logo">
            <div class="tecnologia-img">
                <img src="./assets/img/TS-icon.png">
            </div>
        </div>

        <div class="container-logo">
            <div class="tecnologia-img">
                <img src="./assets/img/git-icon.png">
            </div>
        </div>
    </div>
</div>